{% extends "base.html" %}

{% block title %}
    goods list
{% endblock %}

{% block content %}

<section class="padding-top-5">
<div class="container">
    <h1 class="header center light-blue-text text-darken-4">다른 세상의 관심입니다.</h1>
    <div class="row">
    {% for good in object_list %}
		<div class="s12 l6">
			<!--Card Light-->
			<div class="card">
				<!--Card image-->
				<div class="view overlay hm-white-slight">
                    <img src="{{ good.welcome_image.url }}" class="img-fluid" alt="">
                    <a href="{% url 'goods_detail' good.hash_id %}">
						<div class="mask"></div>
					</a>
				</div>
				<!--/.Card image-->
				<!--Social shares button-->
				<a class="activator"><i class="fa fa-share-alt"></i></a>
				<!--Card content-->
				<div class="card-block">
					<!--Title-->
                    <h4 class="card-title">{{ good.title }}</h4>
					<hr>
					<!--Text-->
                    <p class="card-text">{{ good.sub_title }}</p>
					<a href="{% url 'goods_detail' good.hash_id %}" class="link-text"><h5>Read more <i class="fa fa-chevron-right"></i></h5></a>
				</div>
				<!--/.Card content-->
			</div>
			<!--/.Card Light-->
		</div>
    {% endfor %}
    </div>
</div>
</section>
{% endblock %}
