{% extends "base.html" %}

{% block title %}
상품등록
{% endblock %}

{% block content %}
<div class="container">
    <section class="authform"> 
    <h1 class="header center  light-blue-text text-darken-4">관심사를 세상에 알려주세요</h1>
        <div class="row">
            <form class="col s12" action="{% url 'register_goods' %}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">perm_identity</i>
                        <input name="username" type="text" class="validate" value="{{ request.user.username }}" disabled>
                        <label for="icon_prefix">판매자</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">info_outline</i>
                        <input name="goods_name" type="text" class="validate">
                        <label for="icon_prefix">제품이름</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">perm_identity</i>
                        <input name="title" type="text" class="validate">
                        <label for="icon_prefix">상품 소개 제목</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <i class="material-icons prefix">edit</i>
                        <textarea name="sub_title" class="materialize-textarea textarea_material"></textarea>
                        <label for="icon_prefix">140자 소개</label>
                    </div>
                </div>


                <div class="row"> 
                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">credit_card</i>
                        <input name="price" type="number" class="validate" step="1000" required>
                        <label for="lock_open">가격</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                        <i class="material-icons prefix">redeem</i>
                        <input name="stock" type="number" class="validate" step="50" required>
                        <label for="lock_open">수량</label>
                    </div>
                </div>
                <div class="row"> 
				    <div class="file-field input-field">
                        <div class="btn">
                            <span>대표 이미지</span>
                            <input type="file" name="welcome_image">
                        </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="대표 이미지를 등록해주세요">
                        </div>
                    </div>
                </div>
                <div class="row"> 
				    <div class="file-field input-field">
                        <div class="btn">
                            <span>두번째 이미지</span>
                            <input type="file" name="second_image">
                        </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="제품에 나올 두번째 대표 이미지를 넣어주세요">
                        </div>
                    </div>
                </div>
                <div class="row"> 
				    <div class="file-field input-field">
                        <div class="btn">
                            <span>세번째 이미지</span>
                            <input type="file" name="sub_image">
                        </div>
                            <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="제품에 나올 디테일 이미지를 넣어주세요">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col s12 m12 l12">
                        <div id="summernote">

                        </div>
                        <textarea name="goods_description" id="text-note" class="text-note hidden-node" cols="30" rows="10">
                        </textarea>
                    </div>
                </div>


                <div class="row">
                    <button class="waves-effect waves-light btn submit_note">등록</button>
                    {% csrf_token %}
                </div>

            </form>

        </div>
    </section>
</div>

{% endblock %}
