{% extends "base.html" %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}

    <section class="container padding-top-5">

        <h1 class="header center light-blue-text text-darken-4">{{ user.username }} 님의 정보입니다</h1>
        <br/>
        <div class="row">
            <div class="col s12 m12 l6">
                {% if user.profile_image %}
                    <img class="responsive-img profile_image" src="{{ user.profile_image.url }}" alt="{{ user.username }}">
                {% else %}
                    <img src="http://placehold.it/350x250">
                {% endif %}
            </div>
            <div class="col s12 m12 l6">
                <ul class="collection">
                    <li class="collection-item">{{ user.username }}</li>
                    <li class="collection-item">{{ user.email }}</li>
                    {% if user.phone_number %}
                        <li class="collection-item">{{ user.phone_number }}</li>
                    {% else %}
                        <li class="collection-item">아직 입력되지 않았습니다.</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12 introduce">
                {% if user.description %}
                    {{ user.description | safe }}
                {% else %}
                    아직 자기소개를 입력하지 않았습니다
                {% endif %}
            </div>
        </div>
    </section>

    <section class="container">
        <h2 class="header center light-blue-text text-darken-4">{{ user.username }} 님의 구매정보 입니다.</h1>
        <div class="row">
            <h4 class="header center light-blue-text text-darken-4">구매 완료</h1>
                <div class="row">
                    {% for buy in user.buy_set.is_complete_true %}
                    <div class="col s12 m6 l6">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ buy.sell.welcome_image.url }}" alt="{{ buy.sell.title }}">
                                <span class="card-title">{{ buy.sell.title }}</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    {{ buy.sell.title }}<br/>
                                    {{ buy.count }}개 {{ buy.price }}원씩 총 {{ buy.result_price }}원 구매하셨습니다.
                                </p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'goods_detail' buy.sell.hash_id %} ">상품 바로가기</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>

        <div class="row">
            <h4 class="header center light-blue-text text-darken-4">결제 대기</h1>
            {% for buy in user.buy_set.is_complete_false %}
                <div class="col s12 m6 l6">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ buy.sell.welcome_image.url }}" alt="{{ buy.sell.title }}">
                            <span class="card-title">{{ buy.sell.title }}</span>
                        </div>
                        <div class="card-content">
                            <p>
                                {{ buy.sell.title }}<br/>
                                {{ buy.count }}개 {{ buy.price }}원씩 총 {{ buy.result_price }}원 구매 예정입니다.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="/buy/check/{{ buy.hash_id }}">구매 바로가기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    {% include "partials/float_button.html" %}

{% endblock %}
