{% extends "base.html" %}
{% load pipeline %}

{% block title %}
    회원가입을 환영합니다
{% endblock %}

{% block content %}
<div class="container">
<section class="authform"> 
<h1 class="header center  light-blue-text text-darken-4">당신의 재능을 환영합니다</h1>
    <div class="row">
        <form class="col s12" action="{% url 'signup' %}" method="post" id="data_form">
            <div class="row">
                <div class="input-field col s12 m12 l12">
                    <i class="material-icons prefix">perm_identity</i>
                    <input name="username" type="text" class="validate" id="user_id" data-user-check="/api/user_check/" required>
                    <label id="id_input" for="icon_prefix">사용하실 아이디를 입력해주세요</label>
                </div>
            </div>
            <div class="row"> 
                <div class="input-field col s6 m6 l6">
                    <i class="material-icons prefix">lock_open</i>
                    <input id="firstpw" name="password" type="password" class="validate" required>
                    <label for="lock_open">password</label>
                </div>
                <div class="input-field col s6 m6 l6">
                    <i class="material-icons prefix">lock_open</i>
                    <input id="secondpw" name="password" type="password" class="validate" required>
                    <label id="checked" for="lock_open">check password</label>
                </div>

            </div>
            <div class="row"> 
                <div class="input-field col s12 m12 l12">
                    <i class="material-icons prefix">email</i>
                    <input name="email" type="email" class="validate" id="user_email" required data-email-check="/api/email_check/">
                    <label for="lock_open" id="email_input">e-mail</label>
                </div>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn" id="signup">가입하기</a> 
                {% csrf_token %}
            </div>

        </form>
            <div class="row">

            </div>

    </div>
 </section>
</div>
{% endblock %}
{% block js_sector %}
    {% javascript 'usercheck' %}
{% endblock %}
