{% load pipeline %}
<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{% block title %} {% endblock %}</title>

  <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% stylesheet 'vendor' %}
    {% stylesheet 'style' %}
</head>
<body id="body" 
        data-messages="{% for message in messages %}{{message}};{% endfor %}"
        data-message-tags="{% for message in messages %}{{ message.tags }};{% endfor %}"
    >
    {% include "partials/header.html" %}

    {% if messages %}
        {% include "partials/messages.html" %}
    {% endif %}

    <main class="min-height">
        {% block content %}
        {% endblock %}
    </main>

    {% include "partials/footer.html" %}
    
    {# javascript #}
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    {% javascript 'bootstrap' %}
    {% javascript 'material' %}
    {% javascript 'summernote' %}
    {% javascript 'summernote_ko' %}

    {% javascript 'but' %}

    {% block js_sector %}
    {% endblock %}

  </body>
</html>

