{% extends "base.html" %}

{% block title %}
Awesome But
{% endblock %}

{% block content %}
    <div class="container">
        <div class="space-30"></div>
        <div class="space-30"></div>
        <div class="vertial_home text-center">
            <div class="animated fadeInDown white-text">
                <h4>Material Design for Bootstrap</h4>
                <hr class="divider-short">
                <h5>The best and free framework for Bootstrap</h5>
                <a href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank" class="btn btn-default btn-stc waves-effect waves-light"><i class="fa fa-download right"></i>Get started</a>
                <a href="http://mdbootstrap.com/product/material-design-for-bootstrap-pro/" target="_blank" class="btn btn-primary btn-etc waves-effect waves-light"><i class="fa fa-star right"></i>Go Pro</a>
            </div>
        </div>
    </div>
{% endblock %}
