@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    src: url(../fonts/NanumBarunGothic.ttf) format('truetype');
}

html {
    font-family: "Roboto"," Nanum Barun Gothic", sans-serif;
    font-weight: normal;
}
