.icon-block {
  padding: 0 15px; }

.icon-block .material-icons {
  font-size: inherit; }

li {
  list-style-type: none; }

.min-height {
  min-height: 100vh; }

.height100 {
  height: 100%; }

.authform {
  padding-top: 5vh; }

.padding-top-5 {
  padding-top: 5vh; }

.card-image {
  max-height: 70%; }

.chip > .a-font-color {
  color: #039be5; }

.card.large {
  height: 600px; }

.hidden-node {
  display: none; }

.slide-size {
  width: 580px;
  height: 260px; }

.collection.noborder {
  border: 0px; }

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  src: url(../fonts/NanumBarunGothic.ttf) format("truetype"); }
html {
  font-family: "Roboto"," Nanum Barun Gothic", sans-serif;
  font-weight: normal; }

.vertial_home {
  transform: translateY(100%); }

.fixed-action-btn {
  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998; }
