<footer class="page-footer" if="footer">
    <!--Footer Content-->
    <div class="container">
        <div class="row center-on-small-only">
            <div class="col s12 l4">
                <p class="white-text center-on-small-only">Buy Your Talent BUT</p>
                <p class="white-text center-on-small-only">당신의 재능을 환영합니다</p>
            </div>
            <div class="col s12 l4">
                <p class="white-text center-on-small-only">좋아하는 상품 특이한 상품을 올려주세요</p>
                <p class="white-text center-on-small-only">내가 좋아하는 분야의 다양한 상품들을 소개합니다!</p>
            </div>

            <div class="col s12 l4 text-center">
                <p class="column-title white-text">SOCIAL MEDIA</p>
                <a target="_blank" href="https://www.facebook.com/yevgnenll" class="btn-floating btn-large fb-bg waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
                <a target="_blank" href="http://yevgnenll.me" class="btn-floating btn-large tw-bg waves-effect waves-light"><i class="fa fa-wordpress"> </i></a>
                <a target="_blank" href="https://github.com/yevgnenll/but" class="btn-floating btn-large tw-bg waves-effect waves-light"><i class="fa fa-github"> </i></a>
            </div>
        </div>
    </div>
</footer>
