<footer class="page-footer" if="footer">
    <!--Footer Content-->
    <div class="container">
        <div class="row center-on-small-only">
            <!--First column-->
            <div class="col-md-3">
                <p class="white-text center-on-small-only">GET STARTED</p>
                <p class="white-text center-on-small-only">Register for free and start to create amazing things.</p>
                <a href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank" class="btn btn-danger  waves-effect waves-light"><i class="fa fa-download right"></i>Get started</a>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-md-offset-1">
                <p class="column-title white-text">USEFUL LINKS</p>
                <ul>
                    <li><a href="http://mdbootstrap.com/material-design-for-bootstrap/">About MDB</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-2">
                <p class="column-title white-text">MDB Free Popular</p>
                <ul>
                    <li><a href="http://mdbootstrap.com/templates/">Templates</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-2">
                <p class="column-title white-text">MDB Pro Popular</p>

                <ul>
                    <li><a href="http://mdbootstrap.com/sets/e-commerce/">E-commerce Set</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->
            <!--Fifth column-->
            <div class="col-md-2 text-center">
                <p class="column-title white-text">SOCIAL MEDIA</p>

                <a target="_blank" href="https://www.facebook.com/mdbootstrap" class="btn-floating btn-large fb-bg waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
                <a target="_blank" href="https://twitter.com/MDBootstrap" class="btn-floating btn-large tw-bg waves-effect waves-light"><i class="fa fa-twitter"> </i></a>
                <a target="_blank" href="https://plus.google.com/u/0/b/107863090883699620484/107863090883699620484/posts" class="btn-floating btn-large gplus-bg waves-effect waves-light"><i class="fa fa-google-plus"> </i></a>
            </div>
            <!--/.Fifth column-->
        </div>
    </div>
    <!--/.Footer Content-->

    <!--Coprytights-->
    <div class="footer-copyright text-center rgba-black-light">
        <div class="container-fluid">
            © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>
        </div>
    </div>
    <!--/.Coprytights-->
</footer>
