<nav class="light-blue darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">home</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">signup</a></li>
            {% endif %}
        </ul>

      <ul id="nav-mobile" class="side-nav">
            <li><a href="{% url 'home' %}">home</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">signup</a></li>
            {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
